<!DOCTYPE html>
<html lang="{{ lang | escape }}"{% if dir %} dir="{{ dir | escape }}"{% endif %}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://www.googletagmanager.com">
  <link rel="preconnect" href="https://pagead2.googlesyndication.com">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com">
{% if headLeadHtml %}
{{ headLeadHtml | safe }}
{% endif %}
  <title>{{ title | escape }}</title>
  <meta name="description" content="{{ description | escape }}">
{% if robots %}
  <meta name="robots" content="{{ robots | escape }}">
{% endif %}
  <link rel="canonical" href="{{ canonical | escape }}">
{% for alternate in hreflangs %}
  <link rel="alternate" hreflang="{{ alternate.hreflang | escape }}" href="{{ alternate.href | escape }}">
{% endfor %}
{% if headTailHtml %}
{{ headTailHtml | safe }}
{% endif %}
  <!-- Google AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4137441872906901" crossorigin="anonymous"></script>
</head>
<body{% if bodyClass %} class="{{ bodyClass | escape }}"{% endif %}>
{{ content | safe }}
  <script src="/app.js" defer></script>
</body>
</html>
